@font-face {
  font-family: 'MyFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
} /* from css-tricks.com */



.btn {
	background-color: #fffeef; 
	color: #061a44; 
	font-size: 0.9em;
	
}
.btn:hover {
	font-weight: bold;
}
.btn:visited {
	color: #ea871c; 
	text-decoration: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.hr1 {
	border: 2px solid #061a44; 
	font-size: 2.5em;
	width: 50%;
}


.jumbotron {
	background-color: #061a44;
	color: #eae9dc;
	font-family: MyFont;
	
}

.display-2 {
	text-align: center;
	font-weight: bold;
}
table, body{
	background-color: #fffeef;
	color: #061a44;
	font-size: 1.5em;
}

.form-control {
	color: #061a44;
	background-color: #eae9dc;
	font-size: .9em;
}

tr:nth-child(even) {
  background-color: #061a44;
  color: #eae9dc;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

